form .container {
  background-color: white !important;
}
.check-forget {
  justify-content: space-between;
}

.full {
  text-align: center;
}
img.login-logo {
  width: 100px !important;
}
button.login {
  border-radius: 5px;
  padding: 5px;
}
button.login:hover {
  background-color: grey;
  cursor: pointer;
}
.card {
  width: 400px !important;
  margin: 0 auto;
  display: block !important;
}
.card-body .m-sm-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
